nav {
  background-color: black;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-right: 20px;
  font-weight: bold;
}

nav a:hover {
  color: #00bcd4;
}

.active {
  color: #00bcd4;
}
