main {
  padding: 20px;
}

h2 {
  margin-bottom: 15px;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 14px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #333;
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 250px;
}
